header img {
	width: 100%;
	height: 150px;
}
body{
	font-size: 1.5em;
	background-color: white;
	width: 100%;
}

nav {
	width: 99%;
	margin:1%;
}
.menu li {
  display: inline-block;
  border-bottom: 3px solid #994ecb;
  font-size: 1.4em;
  text-align: center;
  width: 19%;
  margin-right:10px;
}
.menu li:hover {
  background: #af5be8;
}
.menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.close {
	display: none;
}

.teachers div{
	display: flex;

}

h1, h2, h3{
	text-align: center;
}

.teachers article {
	vertical-align: middle;
}

.teachers div img, .students figure img {
	height: 213px;
	width: 150px;
	margin-right:10px;
}

.teachers div img {
	margin-right: 3%;
	margin-left:3%;
}

.students h2{
	background: #d196f8;
	margin: 10px;
	text-align: center;
}

.students div {
	display: flex;
	flex-wrap: wrap;
}

.students figcaption {
	text-align: center;
	width: 150px;
}

.subjects p {
	border-bottom: 3px solid #d196f8;
	width:40%;
	margin: 10px;
	padding-left:2%;
	cursor: pointer;
}


.subjects ul{
	list-style-type: square;
}
@media print {
	body {
		font-family: "Times New Roman", serif;
		font-size: 20pt;
		width: 100%;
		margin: 1cm 0.8cm 1cm 1.5cm;
	}
	h1{
		font-size: 1.2em;
		margin:0;
	}
	h2{
		font-size: 1.1em;
		margin: 0;
	}
	article, ul {
		white-space:pre-line;
	}
	
	title, #video_trailer, video, header, figure, #screenshots{
        display: none;
    }
	
	nav {
		margin:0;
	}

    ul>li a{
    	text-decoration: none;
    }
  	ul>li a:after {
    	content: "( "attr(href)" )";
    }
    figure {
    	width: 100%;
    }
    figure .img1, figure .img2 {
    	width: 100%;
    	height: auto;
    }
}