header img {
	width: 100%;
	height: 170px;
}
body{
	font-size: 1.5em;
	background-color: white;
	width: 100%;
}

nav {
	width: 99%;
	margin:0;
}

.menu ul  {
	padding:0;
}

.menu li {
  display: inline-block;
  border-bottom: 3px solid #994ecb;
  font-size: 1.4em;
  text-align: center;
  width: 18%;
  margin-right:10px;
  cursor: pointer;
}
.menu li:hover {
  background:#d196f8;
}
.menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.close {
	display: none;
}

.teachers-page div{
	display: flex;
}

h1, h2, h3{
	text-align: center;
	color: #7128a2;

}

#owl {
	height:200px;
	width:348px;
	float:left;
	margin: 1%;
}

#broom {
	float: right;
	margin: 1%;
	height:400px;
	width:400px;
}

.history-page img{
	margin: 1%;
	width:450px;
	height:337px;
}

#founders {
	float:right;
}

#hogwarts-castle {
	float: left;

}

.history-page figcaption {
	font-size: 0.6em;
	text-align: center;
}

.teachers-page article {
	vertical-align: middle;
}

.teachers-page div img {
	height: 213px;
	width: 150px;		
	margin-right:10px;
}

 .student-page figure img {
	height: 213px;
	width: 160px;
 }

.teachers-page div img {
	margin-right: 3%;
	margin-left:3%;
}

.student-page h2{
	background: #d196f8;
	color: black;
	margin: 10px;
	text-align: center;
}

.student-page div {
	display: flex;
	flex-wrap: wrap;
}

.student-page figcaption {
	text-align: center;
	width: 150px;
}

.subjects-page p {
	border-bottom: 3px solid #d196f8;
	width:40%;
	margin: 10px;
	padding-left:2%;
	cursor: pointer;
}


.subjects-page ul{
	list-style-type: square;
	font-size: 0.9em;
}

.subjects-page ul li{
	list-style-type: none;
}

.subjects-page ul li:before{
	color: #9e66c3;
	content: "•";
}

footer {
	height:100px;
	width:100%;
	padding-top:4%;
	background-color:#c978ff;
	font-size:1.3em;
	text-align: center;
}
footer a{
	color:#270041;
}
footer a:visited{
	color:#4a3558;
}
